*{
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

*:after,
*:before {
    box-sizing: border-box;
}

/*
*    Общие стили
*/
html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

body {
    background-color: #f3f3f3;
    color: rgb(165,165,165);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.img{

}
a.close {
    background-color: rgb(204,204,204);
    border-radius: 50%;
    color: rgb(255,255,255);
    display: block;
    font-family: 'Varela Round', sans-serif;
    font-size: .8em;
    padding: .2em .5em;
    position: absolute;
    top: 1.25rem;
    transition: all 400ms ease;
    right: 1.25rem;
}

    a.close:hover {
        background-color: #1bc5b3;
        cursor: pointer;
    }



.container{
	max-width: 1280px!important;
	background-color: #FFFF;
}


.collapse{
	display: flex!important;
    flex-basis: auto;
    justify-content: center;
    /*background-color: rgb(250 250 235);*/
}

.navbar-nav{
	display: flex;
	flex-direction: column!important;
}

.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: center!important;
}

.navbar-light .navbar-nav .nav-link {
    color: #a500fa!important;
    margin: 0px 30px 0px 10px;
}


.sport{
	display: flex;
	justify-content: center;
	font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.art{
	display: flex;
	justify-content: center;
	font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-top: 10px;
}




.serviceBox{
 margin-top: 20px;
 border: 1px solid #4e4e4e;
 text-align: center;
 padding: 40px 0;
 overflow: hidden;
 position: relative;
 z-index: 1;
 transition: all 0.5s ease 0s;
}
.serviceBox:before,
.serviceBox:after{
 content: "";
 width: 200%;
 height: 200%;
 background: #684f8e;
 position: absolute;
 top: 160px;
 left: 0;
 z-index: -1;
 transform: rotate(-18deg);
 transition: all 0.5s ease 0s;
}
.serviceBox:before{
 background: #4e4e4e;
 left: -120%;
 transform: rotate(24deg);
}
.serviceBox:hover:before{
 transform: rotate(16deg);
}
.serviceBox:hover:after{
 background: #684f8e;
 transform: rotate(-10deg);
}
.serviceBox .service-icon{
 font-size: 60px;
 color: #684f8e;
 line-height: 100px;
 margin-bottom: 100px;
}
.serviceBox .service-content{
 color: #fff;
 line-height: 25px;
 padding: 0 20px 20px;
}

.serviceBox .title{
 font-size: 22px;
 font-weight: 700;
 margin-bottom: 10px;
}
.serviceBox .description{
 font-size: 14px;
}
.serviceBox .read{
 width: 100%;
 background: #fff;
 font-size: 15px;
 font-weight: 600;
 color: #684f8e;
 padding: 10px;
 border-left: 1px solid #eba133;
 border-right: 1px solid #eba133;
}
.serviceBox:hover .read{
 border-color: #684f8e;
 color: #684f8e;
}
@media only screen and (max-width: 990px){
 .serviceBox{ margin-bottom: 30px; }
}
@media only screen and (max-width: 767px){
 .serviceBox:before,
 .serviceBox:after{
 top: 80px;
 }
}
@media only screen and (max-width: 480px){
 .serviceBox:before,
 .serviceBox:after{
 top: 140px;
 }
}


.map{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sections_around_me{

}

.read_more{
    width: 100%;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: #ffff;

}

.read_more_link{
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: #ffff;
    font-size: 15px;
    font-weight: 600;
}

